<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Home Page</title>
    <br><h1 align="center">Projeto TerraVista</h1>
    <p><h4 align="center">Bem Vindo a inteface do Projeto TerraVista!</h4></p>
</head>
<body>

  <div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h2>Tabela Imports</h2>
        <p>Explicar o que é a tablea imports e os motivos que levaram a sua criaçao </p>
        <a href="/tabela-pdfs" class="icon-link">
          Visualizar
        </a>
      </div>


    </div>
  </div>
  <p align="right"><a href="/logout" ><button class=grey style="height:30px;width:80px">LOGOUT</button></a></p>

</body>
</html>